
/* This file is needed to set the base colors of Adweita. Currently I haven't found a way */
/* to do thins dynamically. */
@define-color window_bg_color #fafafb;
@define-color view_bg_color #ffffff;
@define-color headerbar_bg_color #ffffff;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color sidebar_bg_color #ebebed;
@define-color sidebar_backdrop_color #f2f2f4;
@define-color secondary_sidebar_bg_color #f3f3f5;
@define-color secondary_sidebar_backdrop_color #f6f6fa;

@media (prefers-color-scheme: dark) {
  @define-color window_bg_color #222226;
  @define-color view_bg_color #1d1d20;
  @define-color headerbar_bg_color #2e2e32;
  @define-color sidebar_bg_color #2e2e32;
  @define-color sidebar_backdrop_color #28282c;
  @define-color secondary_sidebar_bg_color #28282c;
  @define-color secondary_sidebar_backdrop_color #252529;
}

:root {
  --window-bg-color: @window_bg_color;
  --view-bg-color: @view_bg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
}
